.loginRootWrapper {
    height: 100dvh;
    width: 100vw;
    display: grid;
    place-content: center;

}

.loginFormWrapper{
    display: grid;
    gap: 15px;
}

.userTestButton{
   place-self: center;
   margin-top: 10px;
   text-decoration: underline;
   cursor: pointer;
   color: var(--subTextFontColor);
}

.loginSelectWrapper{
    position: relative;
    width: 40%;
}

.loginSelect{
  width: 100%;
  color : var(--fontColor);
  align-self: flex-end;
  appearance: none; 
  background-color: white;
  padding-right: 5px;
  -webkit-appearance: none; 
  -moz-appearance: none;
}

.loginSelectWrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color : var(--fontColor);
}

.loginContentWrapper{
    height: max-content;
    padding: 25px;
    width: 300px;
    border: var(--border);
    background-color: var(--modalBackGround);
}


.loginInput{
    border : var(--border);
    height: var(--inputHeight);
    text-align: center;
}

.loginButtonWrapper{
    display: flex;
    gap: 10px;
}

.loginButton{
    width: 60%;
    color : var(--fontColor);
    border: var(--borderLoginInput);
    border-color: var(--borderColorLoginInput);
    background-color:  var(--buttonColor);
    height: var(--inputHeight);
}

.loginButton:hover,
.loginButton:focus {
    color: var(--fontColor);
    background-color:var(--buttonFocusColor);
    text-decoration: none;
    cursor: pointer;
  }

.loginMessage{
  text-align: center;
  color: red;
  margin: 0;
  margin-top: 20px;
}
