.categoryWrapper{
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-between;
    display: flex;
    gap: 5px;
}

.itemsCategory{
    position: relative;
    display: flex;
    touch-action: pan-x;
    align-items: flex-start;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.form label {
    margin: 0;
    padding: 0;
}

.menuIcon{
    width: 40px;
    height: 40px;
}

.oneCategoryItem {
    height: var(--inputHeight) !important;
    border : var(--border);
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0px;
}

.newCategoryInput{
    height: var(--inputHeight) !important;
    border : var(--border);
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}
