.groceryCardWrapper{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom : var(--border);
    height: max-content;
    width: 100%;
    padding: 10px 10px;
    padding-right: 20px;
}

.dataWrapper{
    flex-grow: 1;
}

.name {
    color: var(--fontColor);
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1px;
    margin-left: 2px;
}

.category{
    font-size: 0.75rem;
    margin-left: 2px;
}

.store {
    margin-left: 2px;
    font-size: 0.75rem;
}

.menuIcon{
    height: var(--iconSize);
    width:  var(--iconSize);
    cursor: pointer;
}

.leftItems {
    margin-right: 10px;
}