.rootWrapper {
    z-index: 9999;
    position: absolute;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

.contentWrapper{
    min-height: fit-content;
    max-height: 80%;
    width: 90%;
    max-width: 400px;
    background-color: var(--primaryColor);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border : var(--border);
    border-radius: 2px;
    padding:  0px 10px 10px 10px;
}