.sortBy{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 15px;
    height:max-content;

}

.selectWrapper{
    width: 100%;
    border-bottom : var(--border);
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.list{
    width: 100%;
    overflow-y: auto;
}

.form{
    box-sizing: border-box;
    padding: 25px;
    display: grid;
    gap: 5px;  
}

.resetFiltersBtn{
    padding-right: 10px;
    text-align: end;
    font-size: 0.8rem;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.addGrocery{
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.addUserButton{
    cursor: pointer;
    width: 50px;
    border: none;
    background-color: #64B5F6;  
    color: white;
}

.saveButton{
    cursor: pointer;
    height: var(--inputHeight);
    width: 100%;
    border: none;
    color: white;
    font-family: var(--fontFamily);
    background-color: #2196F3;
    margin-top: 50px;
    font-weight: 500;
}

.empty{
    margin-top: 50px;
    text-align: center;
}

.formMessage{
    font-size: 0.8rem;
    margin-top: 5px;
    color : green;
    text-align: start;
}

.addedUsersTitle{
    font-size : 0.8rem;
}

.userList::placeholder{
    padding-left: 5px;
}

.saveButton:hover {
  background-color: #1976D2;
}

.userListWrapper{
    display: flex;
    gap: 10px;
}

input {
    border: var(--border);
    height: var(--inputHeight) !important;
}
label{
    font-size: 1rem;
    color: var(--fontColor);
    
}

.dateInput{
  padding: 5px;
}