.list{
    width: 100%;
    overflow-y: auto;
}

.myGroceriesLabel{
    text-align: start;
    font-size: 1rem;
    font-weight: 300;
    padding: 5px;
    margin: 0;
    margin-top: 5px;
}

.myGroceriesLabelWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    gap: 5px;
}

.resetFiltersBtn{
    padding-right: 10px;
    text-align: end;
    font-size: 0.7rem;
    max-width: 800px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    box-shadow: none;
    color: black;
    cursor: pointer;
    align-self: end;
    width: max-content;
}

.addGrocery{
    position: absolute;
    bottom: 30px;
    right: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.addUserButton{
    cursor: pointer;
    width: 50px;
    border: none;
    background-color: #2196F3;  
    color: white;
}

.loadingAnimation{
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.saveButton{
    cursor: pointer;
    height: var(--inputHeight);
    width: 100%;
    border: none;
    color: white;
    font-family: var(--fontFamily);
    background-color: #2196F3;
    margin-top: 50px;
    font-weight: 500;
}

.empty{
    margin-top: 50px;
    text-align: center;
}

.formMessage{
    font-size: 0.8rem;
    margin-top: 5px;
    color : green;
    text-align: start;
}

.addedUsersTitle{
    font-size : 0.8rem;
}

.userList::placeholder{
    padding-left: 5px;
}

.saveButton:hover {
  background-color: #1976D2;
}

.userListWrapper{
    display: flex;
    gap: 10px;
}

input {
    border: var(--border);
    height: var(--inputHeight) !important;
}
label{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--fontColor);
    width: max-content;
    
}

.dateWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.addDateCheckbox{
    margin: 0;
    padding: 0;
    width: 30px;
    accent-color: #64B5F6;  
    border-radius: 0px; 
}

.addDateCheckboxWrapper{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.dateInput{
  box-sizing: border-box !important;
  background-color: white;
  height: 40px !important;
  text-align: center;
  padding-right: 15px;

}

@media (min-width: 800px){
    .resetFiltersBtn{
        max-width: unset;
        
    }

    .sortBy {
        justify-content: center;
    }
}
