.container{
 width: 100%;
 background-color: transparent;
 padding: 10px 10px;
 padding-bottom: 10px;
 box-sizing: border-box;
 border-bottom: var(--border);
 cursor: pointer;
}

.titleWrapper{
 display: flex;
 align-items: center;
 gap: 10px;
}

.title{
    font-size: 1rem;
    font-weight: normal;
}

.header {
 display: flex;
 justify-content: space-between;
 background-color: transparent;
 border: none;
 width: 100%;
 cursor: pointer;
 font-family: inherit;
 color: inherit;
 font-size: 1rem;
 align-items: center;
 height: 30px;
 padding: 0;
}

.content{
 width: 100%;
}

.openFilter{
 font-size: 1.3rem;
 height: 25px;
 margin-right: 10px;
}

.icon{
 width: 25px;
 height: 25px;
}