.headerWrapper {
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    align-items:center;
    width: 100%;
    cursor: default;
    flex-shrink: 0;
    height: 60px;
    border-bottom: var(--border);
}

.headerTitleWrapper{
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.cartIcon {
    height: 45px;
    width:  45px
}

.headerSubtitle{
    margin: 0;
    font-size: 0.7rem;
}

.headerNavImageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonLabel{
    margin: 0;
    font-size: 0.65rem;
    font-weight: normal;
}

.headerNavTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.headerTitle{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color : var(--fontColor);
}

.itemsWrapper{
    display: flex;
}

.headerButtonsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.menuIcon{
    height: 25px;
    width:  25px;

}