.groceryCardWrapper{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    padding: 14px 18px;
    padding-left: 10px;
    background-color:  #F4F4EF;
    cursor: pointer;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}


.dataWrapper{
    flex-grow: 1;
}

.colorShared {
  background-color: #FFF4CE;
  color: #6A5E2E;
}

.colorPersonal {
  background-color: #DDEBFF;
  color: #1A4BA3;
}

.colorCompleted {
  background-color: #FFE7D1;
  color: #7A421E;
  text-transform: capitalize;
}

.colorActive {
  background-color: #E3F8E0;
  color: #2F7A32;
  text-transform: capitalize;
}

.name{
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dateWrapper{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
}

.date{
    font-size: 0.82rem;
    opacity: 0.7;
    margin-left: 2px;
    color: var(--subTextFontColor);
}

.status {
    font-size: 0.8rem;
    margin-left: 2px;
}

.label{
    margin-top: 3px;
    width: max-content;
    box-sizing: border-box;
    padding: 0px 10px;
    font-size: 0.75rem;
    height: 26px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.label img {
    height: 20px;
    width: 20px;
}

.userIcon{
    height: 25px;
    width: 25px;
}

.menuIcon{
    height: var(--iconSize);
    width:  var(--iconSize);
    cursor: pointer;
}

.labelsWrapper{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    align-items: center;
}




