
.loadingAnimation{
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty{
    margin-top: 50px;
    text-align: center;
}


.subMenuTitle{
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.list{
    width: 100%;
    overflow-y: auto;
    padding-bottom: 120px;
}

.lastUpdated{
  font-size: 0.75rem;
  margin: 0;
  margin-left:15px;
  margin-top : 15px;
}

.listIcon{
    height: 25px;
    width: 25px;
}

.listTitleWrapper{
    padding: 10px 10px;
    margin-top: 6px;
    padding-bottom: 0px;
    margin-bottom: -2px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.completedInfoWrapper{
    padding: 0px 45px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.addGrocery{
    position: absolute;
    bottom: 35px;
    right: 20px;
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.completeGrocery{
   background-color: #c8e6c9;
}

.form{
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    gap: 5px;  
}

.saveButton{
    cursor: pointer;
    height: var(--inputHeight);
    width: 100%;
    border: none;
    color: white;
    font-family: var(--fontFamily);
    background-color: #2196F3;
    margin-top: 50px;
    font-weight: 500;
}