
.iconsTop{
    display: flex;
    gap: 10px;
}

.menuIconWrapper{
    width: var(--iconSize);
    height: var(--iconSize);
    background-color: var(--modalBackGround);
    border-radius: 100%;
    cursor: pointer;
    border: 3px solid;
    border-color: transparent;
}

.headerWrapper {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items:center;
    height: 55px;
    width: 100%;
}

.mainHeaderButton{
    box-sizing: border-box;
    position: relative;
    border-radius: 15px; 
    min-width: 80px;
    flex-shrink: 0;
    border-color : grey;
    background-color: #C8E6C9;
    border-color: #81C784;
    color: #1B5E20;
    height: 40px;
    font-size: 18px;
    color : darkslategray;
    border : none;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.mainHeaderButton:hover,
  .mainHeaderButton:focus {
    background-color:#A5D6A7;
    text-decoration: none;
    cursor: pointer;
  }
  

.itemsWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 140px);
    box-sizing: border-box;
    margin-top: 5px;
}

.itemWrapper{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.itemListWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    width: 100%;
    border-radius:15px; 
    background-color: var(--primaryColor);
    height: 100%;
    overflow: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    border: var(--border);
    border-radius: var(--borderRadius);
    margin-bottom: 5px;
    height: 55px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
}

.itemWrapper:last-child{
    .item{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.itemDesc {
    margin:0;
    max-width: 75%;
    margin-left: 5px;
    font-size: var(--descriptionFontSize);
    color: var(--fontColor);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemAction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

