:root {
  /* COLORS */
  --modalBackGround       : #F0F4F8;
  --buttonColor           : #93aad2;
  --buttonFocusColor      :#859fcc;
  --primaryColor          : var(--modalBackGround);
  --secondaryColor        : #859fcc;
  --thirdColor            : #a9bbdb;
  --fontColor             : #2E2E2E ;
  --subTextFontColor      : #757575;
  --infoBox               : transparent;
  --borderColorLoginInput : rgb(204, 219, 232);
  --border                : 2px solid  #E0E0E0;
  
  /* PADDING/MARGINS */
  --rootHeight        :    100dvh;
  --modalBorderRadius :    10px;
  --paddingHeader     :    5px;
  --borderLoginInput  : 1px solid;
  --borderRadius      : 15px;
  --loginInputHeight  : 40px; 
  --descriptionFontSize : 18px;
  --iconSize            : 30px;
  
  /* OTHER */
  --shadowLoginContainer       :  rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  --shadowLoginInput           : rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

button {
  font-family: var(--fontFamily);
  font-size: 15px;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


