:root {
  /* COLORS */
  --modalBackGround       : #F8FAF7;
  --buttonColor           : #93aad2;
  --buttonFocusColor      : #859fcc;
  --primaryColor          : #F0F4F8;
  --secondaryColor        : #859fcc;
  --thirdColor            : #a9bbdb;
  --fontColor             : #212121 ;
  --subTextFontColor      : #757575;
  --resetFilterBgColor    :   #E0E0E0;
  --infoBox               : transparent;
  --borderColorLoginInput : rgb(204, 219, 232);
  --border                : 1px solid  #E0E0E0;
  
  /* PADDING/MARGINS */
  --rootHeight        :    100dvh;
  --modalBorderRadius :    10px;
  --paddingHeader     :    5px;
  --borderRadius      :    15px;
  --inputHeight       :    40px; 
  --descriptionFontSize  : 18px;
  --iconSize             : 28px;
  
  /* OTHER */
  --fontFamily            : 'Lato', 'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContentWrapper{
    height: 100dvh;
    background-color: var(--modalBackGround);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

button {
  font-family: var(--fontFamily);
  font-size: 15px;
}

.input{
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


