.subHeaderWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.subFiltersContentWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
  padding-top: 0;
  margin-bottom: 12px;
  gap: 10px;
}

.contentListLabel{
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 0px;
    margin: 0;
}

.MenuTitle{
  display: flex;
  flex-direction: column;
  margin-bottom : 12px
}

.completedInfo{
  margin: 0;
  display: inline-block;
  font-size: 0.7rem;
  padding-right: 10px;
  text-align: start;
  margin-top: 8px;
}

.settingsPopupWrapper{
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 250px;
  top: 5px;
  right: 10px;
  height: max-content;
  background-color: white;
  border: var(--border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
}

.settingContainer{
  position : absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.settingsItem{
  width: 100%;
  text-align: start;
  border-color: transparent;
  border-top: 0;
  font-family: var(--fontFamily);
  height: 50px;
  cursor: pointer;
  background-color: white;
  padding: 12px;
  font-weight: 500;
  font-size: 0.9rem;
  color: black;
  box-sizing: border-box;
  display: grid;
  align-items: center;
}

.settingsItem:first-child{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.settingsItem:last-child{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.SettingItemWrapper{
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.btborder0{
  border-bottom: 0;
}

.settingsBtBorder{
  border-bottom : var(--border);
}

.settingsLanguageWrapper{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-right: 10px;
}

.settingsSelect {
  border-top: 1px solid black;
  height: 30px;
  border: none;
  border-radius: 12px;
  background-color: white;
  border: var(--border);
  box-sizing: border-box;
  padding: 0px 10px;
  min-width:50%;

}


.resetFilterBgColor {
  background-color: var(--resetFilterBgColor);
}

.settingsIcon{
  height: 20px;
  width: 20px;
}

.saveButton{
    cursor: pointer;
    height: var(--inputHeight);
    width: 100%;
    border: none;
    color: white;
    font-family: var(--fontFamily);
    background-color: #2196F3;
    margin-top: 50px;
    font-weight: 500;
    border-radius: 25px;
}

.backButton {
    cursor: pointer;
    height: var(--inputHeight);
    width: 100%;
    border: none;
    color: white;
    font-family: var(--fontFamily);
    background-color: #616161;
    margin-top: 50px;
    font-weight: 500;
    border-radius: 25px;
}



