.subHeaderWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.filtersWrapper{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-bottom: 5px;
  gap: 15px;
  height:max-content;
}

.subFiltersContentWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  margin-top: 6px;
  margin-bottom: 12px;
  gap: 10px;
}



.resetFiltersButton{
    margin-left: 10px;
    margin-top: 10px;
    width: max-content;
    text-align: center;
}

.contentListLabel{
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 0px;
    margin: 0;
}

.actionButton {
    text-align: end;
    font-size: 0.7rem;
    color: black;
    box-shadow: none;
    cursor: pointer;
    align-self: end;
    height: 25px;
    border-color: transparent;
    align-self: flex-start;
}

.MenuTitle{
  display: flex;
  flex-direction: column;
  margin-bottom : 12px
}

.completedInfo{
  margin: 0;
  display: inline-block;
  font-size: 0.7rem;
  padding-right: 10px;
  text-align: start;
}

.settingsPopupWrapper{
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 250px;
  top: 5px;
  right: 10px;
  height: max-content;
  background-color: white;
  border: var(--border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settingContainer{
  position : absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.settingsItem{
  width: 100%;
  text-align: start;
  border-color: transparent;
  border-top: 0;
  font-family: var(--fontFamily);
  height: 50px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  color: black;
  box-sizing: border-box;
  display: grid;
  align-items: center;
}

.SettingItemWrapper{
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.btborder0{
  border-bottom: 0;
}

.settingsBtBorder{
  border-bottom : var(--border);
}

.settingsLanguageWrapper{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-right: 10px;
}

.settingsSelect {
  border-top: 1px solid black;
  height: 30px;
  border: none;
  border-radius: 0;
  background-color: white;
  border: var(--border);
  box-sizing: border-box;
  padding: 5px;
  min-width:50%;

}


.resetFilterBgColor {
  background-color: var(--resetFilterBgColor);
}

.settingsIcon{
  height: 20px;
  width: 20px;
}



