body {
  overscroll-behavior: none;
  margin: 0;
  font-family: var(--fontFamily);
}

html, body {
  overscroll-behavior: none;
  -ms-overflow-style: none; 
  overscroll-behavior: none;
  touch-action: pan-y pan-x; 
}