body {
  overscroll-behavior: none;
  margin: 0;
  font-family: var(--fontFamily);
}

html, body {
  overscroll-behavior: none;
  -ms-overflow-style: none; 
  overscroll-behavior: none;
  touch-action: pan-y pan-x; 
}

@media (width > 1000px) {
  body{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
  }
}